.latest-projects,
.latest-projects * {
  box-sizing: border-box;
}
.latest-projects {
  padding: 60px 182px 120px 182px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1169px;
  position: relative;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-435 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.latest-projects2 {
  color: #000000;
  text-align: center;
  font-family: "AlbertSans-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.img {
  align-self: stretch;
  flex-shrink: 0;
  height: 320px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.text2 {
  background: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.building-business-agility-begins-with-culture {
  color: #000d51;
  text-align: left;
  font-family: "AlbertSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.fringilla-lacus-eu-porta-neque-turpis-mauris-nisi-enim-sed-placerat-aliquam-lectus-elit {
  color: rgba(0, 13, 81, 0.6);
  text-align: left;
  font-family: "AlbertSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
.libero-lectus-viverra-bibendum-pellentesque-rhoncus-donec-fermentum-arcu-ut {
  color: rgba(0, 13, 81, 0.6);
  text-align: left;
  font-family: "AlbertSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
}
